/* 

1. Imports & Includes
2. Mixins
3. Header & Navigation
4. Feature
5. Main
6. Footer
7. Blog
8. Menu
9. Ecommerce
10. Forms & Buttons
11. Misc Elements (Social, Typography etc.)

*/

/* 1. Imports & Includes */

@import "@{templateCommon}/basekit-bootstrap.less";
@tablet: "only screen and (max-width: 860px)";
@mobile: "only screen and (max-width: 650px)";

/* 2. Mixins */

.border-radius (@radius: 6px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.transition (@prop: all, @time: 0.5s, @ease: ease) {
	-webkit-transition: @prop @time @ease;  
	-moz-transition:    @prop @time @ease;
	-ms-transition:     @prop @time @ease; 
	-o-transition:      @prop @time @ease;  
}

/* 3. Header & Navigation */

.bk-pt-home {
	.bk-header {
		background: transparent;
		margin-right: 10%;
		padding: 30px 0 30px 30px;
		position: absolute;
		top: 0;
		width: 90%;
		z-index: 9999;
		@media @mobile {
			left: 0;
			width: 70%;
		}
	}
	#main {
		padding-top: 0;
	}
}

.bk-header {
	background: lighten(@color-swatch6, 5%);
	padding: 30px;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	@media @mobile {
		padding: 20px 30px;
	}
}

.widget {
	&.logo, &.companyname {
		display: inline-block;
        vertical-align: middle;
	}
	&.logo {
		margin-right: 2px;
		max-width: 20%;
		img {
			vertical-align: top;
		}
	}
	&.companyname a {

			@media @mobile {
                max-width: 70%;
				font-size: bkscale(@font-swatch10-font-size, 0.96);

		}
	}
}

.bk-nav {
	background: @color-swatch6;
	height: 100%;
	position: fixed;
	right: -320px;
	width: 320px;
	.transition( all, 0.5s, ease);
    z-index: 9999;
    .widget.socialicons {
    	background: @color-swatch6;
    	border-left: 1px solid darken(@color-swatch6, 50%);
    	padding: 30px 15px;
    	margin: 0;
    }
	@media only screen and (max-height: 450px) {
		position: absolute;
		height: auto;
	}
    /*&:after {
    	@media only screen and (max-height: 450px) {
    		background: @color-swatch6;
			border-left: 1px solid black;
			content: "";
			display: block;
			height: 100%;
			right: 0;
			width: 320px;
			position: absolute;
    	}
    }*/
    @media @mobile {
    	right: -250px;
    	width: 250px;
    }
}

.widget.extendednavigation {
	background: @color-swatch6;
	border-left: 1px solid darken(@color-swatch6, 50%);
	display: table;
	padding: 30px 15px;
	width: 100%;
    ul {
        display: block;
        padding: 0;
        list-style: none;
        width: 100%;
        @media @tablet {
        	display: block;
        }
        li {
            display: block;
            padding: 10px 0;
            cursor: pointer;
            &:before {
	            display: inline-block;
	            text-decoration: inherit;
	            width: 1em;
	            color: #59e9df;
	            margin-right: 12px;
	            text-align: center;
	            font-variant: normal;
	            font-size: 0.75em;
	            text-transform: none;
	            line-height: 1em;
        	}
            &:hover { 
            	.transition( all, 0.5s, ease);
            	ul {
            		background: transparent;
            		position: relative;
            		li {
            			padding: 8px 6px;
            		}
            		.text {
            			font-size: bkscale(@font-swatch6-font-size, 0.95);
            		}
            	}
            }
            ul {
				display: none;
			}
            @media @tablet {
            	border-bottom: none;
            }
            &.folder {
            	&:after {
            		border-top-color: lighten(@color-swatch5, 32%);
            		top: 22px;
            	}
            	.text {
            		color: lighten(@color-swatch5, 32%);
            	}
	        }
	        a {
	        	color: lighten(@color-swatch5, 32%);
	        	&:hover {
	        		color: lighten(@color-swatch5, 60%);
	        	}
	        }
        }

    }
	a.pull {
		background-color: fade(@color-swatch6, 15%);
		border: 1px solid fade(@color-swatch1, 20%);
		.border-radius(6px 0 0 6px);
		padding: 12px 11px 0;
		position: absolute;
		right: 320px;
		top: 29px; 
		display: inline-block;
		width: 90px;
		height: 45px;
		text-indent: -900em;
		overflow: hidden;
		cursor: pointer;
		outline: none;
		.transition( all, 0.5s, ease);
	    @media @mobile {
	    	right: 248px;
	    }
	    &:hover {
	    	background-color: fade(@color-swatch6, 25%);
	    	border: 1px solid fade(@color-swatch1, 30%);
	    	.transition( all, 0.5s, ease);
	    }
		&:after {
			content: '';
			position: absolute;
			width: 22px;
			height: 3px;
			background: white;
			box-shadow: 0 6px 0 white, 0 12px 0 white;
			@media @tablet {
				top: 13px;
				right: 50px;
			}
			@media @mobile {
				width: 20px;
				right: 50px;
			}
		}
	}
	.bk-overlay {
		width: 100%;
	}
}

div.widget .extendednavigation ul, div.widget.extendednavigation ul {
	display: block;
	li {
		display: block; 
	}
}

div.widget .extendednavigation > ul, div.widget.extendednavigation > ul {
	display: block!important;
}

body.menu-active .widget.extendednavigation#slide-menu { 
	right: 0px; 
}

body.menu-active #main, body.menu-active .bk-header { 
	right: 320px; 
	.transition( all, 0.5s, ease);
    -webkit-backface-visibility: hidden;
    @media @mobile {
    	right: 250px;
    }
}

body #main, body .bk-header {
	.transition( all, 0.5s, ease);
	-webkit-backface-visibility: hidden;
}

body.menu-active .bk-nav { 
	position: absolute;
	right: 0; 
}

@-webkit-keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* 4. Feature */

.widget.feature {
	height: 100%;
	width: 100%;
}

.widget.feature .feature-bgimg .content {
  	-webkit-animation: huerotate 18s infinite alternate;
  	animation: huerotate 24s infinite alternate;

	width: 100%;
    height: 100%;

	background: -moz-linear-gradient(bottom,  rgba(26,120,132,0.5) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(26,120,132,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(26,120,132,0.5) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,  rgba(26,120,132,0.5) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,  rgba(26,120,132,0.5) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to top,  rgba(26,120,132,0.5) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a7884', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

	padding: 100px 20px 26px;
	text-align: center;
	vertical-align: bottom;
		@media only screen and (max-width: 780px) {
			padding: 100px 20px;
			-webkit-overflow-scrolling: touch;
		.spare {
			position: relative;
			top: 30px;
			h2 {
				font-size: bkscale(@font-swatch8-font-size, 0.62);
				line-height: bkscale(@font-swatch8-line-height, 0.68);
				padding-bottom: 8px;
			}
			h3 {
				font-size: bkscale(@font-swatch5-font-size, 0.95);
				line-height: bkscale(@font-swatch5-line-height, 1.05);
			}
			button {
				padding: 8px 15px;
				margin-top: 12px;
			}
		}
	}
	h2 {
		@media @mobile {
			font-size: bkscale(@font-swatch8-font-size, 0.72);
			line-height: bkscale(@font-swatch8-line-height, 0.78);
		}
		@media only screen and (max-width: 780px) {
			font-size: bkscale(@font-swatch8-font-size, 0.7);
			line-height: bkscale(@font-swatch8-line-height, 0.75);
		}
	}
	button {
		border: 2px solid fade(white, 35%);
		background: transparent;
		border-radius: 30px 0;
		padding: 12px 25px 10px;
		margin-top: 15px;
		&:hover {
			background-color: white;
			color: black;
			.transition( all, 0.75s, ease);
		}
		@media @mobile {
			padding: 8px 20px;
			margin-bottom: 40px;
		}
		span {
			vertical-align: text-bottom;
		}
	}
}

/* 5. Main */

.contain {
	padding: 40px;
	margin: 0 auto;
	max-width: 1600px;
	@media @mobile {
		padding: 20px;
        padding-top: 80px;
	}
}

#main {
	padding-top: 100px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: #fcfeff;
    .border-radius(0px);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 6. Footer */

.bk-footer {
	.copyright {
		.contain {
			border-top: 1px solid lighten(@color-swatch5, 68%);
			padding: 12px 40px;
		}
		.widget.profile {
			display: block;
			width: 100%;
			color: @font-swatch5-color;
			padding: 30px 0;
			text-align: center;
		}
	}
}

/* 7. Blog */

.blogpost, .blog-post-list {
    .blog-post-feature-image-wrap {
        line-height: 0;
        background-size: contain;
        background-position: left;
        margin: 20px 0 25px;
        width: auto;
        img {
            display: none;
        }
    }
    h1 {
    	font-family: @font-swatch2-font-family;
    	font-size: bkscale(@font-swatch2-font-size, 1.2);
    	line-height: bkscale(@font-swatch2-line-height, 1.2);
    	padding-bottom: 18px;
    }
}

.blog-post-list .blog-post-feature-image-wrap {
    height: 275px;
}

.blogpost .blog-post-feature-image-wrap {
    height: 350px;
}

.blog-post-list {
    color: @color-swatch4;
    h2 a {
        color: @color-swatch4;
        font-size: @font-swatch2-font-size;
    }
    .blog-post-date {
        color: @font-swatch5-color;
    }
}

/* 8. Menu */

.widget {
    &.menusections {
        ul {
            border: 2px solid lighten(@font-swatch5-color, 65%);
            text-align: center;
        }
    }
}

.menu {
    .menu-item-image-wrap {
        background-size: cover;
        background-repeat: no-repeat;
        height: 180px;
        margin: 0.25em 0 0.75em;
        background-position: center;
        img {
            display: none;
        }
    }
    .menu-header {
        margin: 2em 0 2.5em;
        text-align: center;
        h1 {
        	font-size: bkscale(@font-swatch1-font-size, 0.7);
        	line-height: bkscale(@font-swatch1-line-height, 0.7);
            padding-bottom: 10px;
        }
        p {
        	color: lighten(@font-swatch5-color, 40%);
            padding: 5px 0 0;
        }
    }
    .menu-subsection {
        padding: 0;
        .menu-subsection-header {
            padding: 20px 0;
            h2 {
                color: @color-swatch4;
            }
        }
    }
    .menu-item-nutritional-title {
        font-size: bkscale(@font-swatch5-font-size, 0.86);
        &:before {
            content: "\2014";
            color: lighten(@font-swatch5-color, 65%);
            display: block;
            padding-bottom: 20px;
            padding-top: 8px;
            line-height: 8px;
        }
    }
    .menu-item-nutritional-prop  {
        font-size: bkscale(@font-swatch5-font-size, 0.9);
        line-height: @font-swatch5-line-height;
    }
    .menu-section-item-dietary-props .dietary-icon {
        border: 1px solid lighten(@font-swatch5-color, 65%);
        font-size: bkscale(@font-swatch5-font-size, 0.86);
        padding: 2px 5px;
        margin-top: 15px;
    }
    .menu-subsection-promoted, .menu-items li.menu-item-promoted {
        background-color: lighten(@color-swatch5, 78%);
        border: 1px solid lighten(@color-swatch5, 70%);
        padding: 2em;
        @media @mobile {
            padding: 1em;
        }
        ol {
            padding-bottom: 0;
        }
        .menu-subsection-header {
            padding: 20px 0 12px;
            h2 {
                margin-bottom: 0;
            }
        }
        .menu-section-item-dietary-props .dietary-icon {
            
        }
    }
    .menu-subsection-name {
        color: @font-swatch2-color;
        margin-bottom: 0.25em;
    }
    .menu-item-description {
    }
    .menu-item-price p {
        color: @color-swatch3;
        font-size: bkscale(@font-swatch5-font-size, 1.12);
    }
}

/* 9. Ecommerce */


.widget.ecomproductslist {
  .ecom-productslist-products {
    // Filter
    .productlist-filter {
      .productlist-display-form {
        .clearfix;
        margin-bottom: 1em;
        text-align: left;
        .form-group {

          margin-right: 0.5em;
          margin-left: 0.5em;
          display: inline-block;
          vertical-align: left;
          @media @mobile {
            display: block;
            margin-bottom: 10px;
            margin-right: 0;
            margin-left: 0;
          }
          label {
            display: block;
            font-size: bkscale(@font-swatch5-font-size, 0.8);
            text-align: left;
            @media @mobile {
              text-align: left;
            }
          }
        }
      }
      .productlist-item-count {
        text-align: center;
        clear: both;
      }
    }
  }
}

.widget.ecomproductslist .ecom-productslist-products .productlist-filter .productlist-display-form .productlist-search button.btn {
    position: relative;
    top: -1px;
    height: 38px;
    &:hover {
        background-color: @font-swatch7-background-color-hover;
    }
}


// Select

 select {
    -moz-appearance: none;
    text-indent: 0.01px;
    -webkit-appearance: none;
    text-overflow: '';
    cursor: pointer;
    position: relative;
    background-repeat: no-repeat;
    background-position: right center;
    margin: 0;
    color: @color-swatch5;
    position: relative;
    display: inline-block;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    line-height: 21px;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid darken(@color-swatch2, 10%);
    background-color: lighten(@color-swatch7, 3%);
    padding: 8px 38px 8px 14px;
    text-indent: 0;
    letter-spacing: 0;
    float: none;
    height: 41px;
    background-image: image('/images/ui-select-arrow.png');

    @media @mobile {
      display: block;
      width: 100%;
    }
}

.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select {
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 20px;
}

.widget.ecombasket .ecombasket-pull {
    border-radius: 5px;
    box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
}

.ecom-product-preview-image-wrap {
    text-align: left;
}

.btn.ecom-product-add-to-cart-btn, .btn.ecom-product-go-to-checkout-btn {
    border-radius: 5px;
    box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
    padding: 10px 15px;
    text-decoration: none;
    margin-bottom: 10px;
    float: left;
    &:hover {
        background-color: @font-swatch7-background-color-hover;
    }
}

.ecom-product-go-to-checkout-btn-wrapper {
    float: left;
    width: 100%;
    .btn.ecom-product-go-to-checkout-btn {
        font-weight: 600;
    }
}

.widget.ecomproduct .ecom-product .ecom-product-cattag {
    float: left;
    width: 100%;
}

.ecombasket-checkout-link {
    border-radius: 5px;
    box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
}

.svg {
  .widget.ecomproductslist .ecom-productslist-products .productlist-filter .productlist-display-form .form-group select,
  .widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select {
    background-image: image('/images/ui-select-arrow.png');
    background-repeat: no-repeat;
    background-size: 6px;
    background-position-x: 93%;
    background-position-y: 55%;
  }
}

// Basket Summary
// -----------------------------

.widget.ecombasketsummary {
    margin-bottom: 30px;
    margin-top: 100px;
    // Image Wrap
    .image-wrap {
        background-position: -10000%;
        @media (max-width: 530px) {
            max-width: 130px;
            img {
                max-width: 100%!important;
            }
        }
        @media (max-width: 360px) { 
            max-width: 100%;
        }
    }
    // Product Name, Price, Quantity
    .basket-summary-productname,
    .basket-summary-pricepu,
    .basket-summary-quantitybtn,
    .basket-summary-subtotal,
    .basket-summary-amount {
        font-family: @font-swatch4-font-family;
        font-size: 18px;
        font-weight: @font-swatch4-font-weight;
        line-height: @font-swatch4-line-height;
        letter-spacing: @font-swatch4-letter-spacing;
        color: darken(@font-swatch4-color, 10%);
    }
    // Product Name
    .basket-summary-productname {
        display: block;
        line-height: 24px;
        color: darken(@font-swatch2-color, 10%);
        &:hover {
            text-decoration: underline;
        }
    }
    // Quantity
    .basket-summary-quantity {
        margin-top: 8px;
        .basket-summary-quantity-text {
            display: block;
            padding: 0;
            font-family: @font-swatch4-font-family;
            color: @font-swatch4-color;
            font-size: 14px;
            line-height: 20px;
        }
        .quantity-number {
            position: relative;
            background-color: darken(@color-swatch1,3%);
            padding: 1px 10px;
            font-size: 14px;
        }
        button {
            width: 20px;
            height: 20px;
            padding: 0;
            margin: 0;
            border: 0;
            box-shadow: none;
            background-color: lighten(@color-swatch5,15%);
            font-family: inherit;
            color: @color-swatch1;
            &:hover {
                background-color: @color-swatch2;
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
        }
    }   
    // Table
    table {
        margin: 20px 0 30px;
        border-spacing: 0;
        border: 1px solid darken(@color-swatch1,10%);
        border-bottom: 0;
        // Heading Row
        tr:first-child {
            outline: 1px solid darken(@color-swatch1,10%);
            background-color: darken(@color-swatch1,4%);
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            font-family: @font-swatch4-font-family;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1px;
            color: @font-swatch4-color;
            text-transform: uppercase;
            @media @mobile {
                font-size: 12px;
            }
            th {
                position: relative;
                left: 20px;
                text-align: left;
                &:last-child {
                    @media (max-width: 360px) {
                        display: none;
                    }
                }
            }
        }
        // Item Row
        tr td {
            border-bottom: 1px solid darken(@color-swatch1,10%);
            @media (max-width: 360px) {
                display: table;
                width: 100%;
                border-bottom: 0;
            }
            &:nth-child(1),
            &:nth-child(2) {
                padding: 20px;
                vertical-align: top;
            }
            &:nth-child(2) {
                @media (max-width: 530px) {
                    padding-left: 0;
                }
            }
            &:nth-child(3) {
                padding: 20px;
                border-left: 1px solid darken(@color-swatch1,10%);
            }
            // Responsive
            &:nth-child(1) {
                @media (max-width: 360px) {
                    padding-bottom: 0;
                }
            }
            &:nth-child(2),
            &:nth-child(3) {
                @media (max-width: 360px) {
                    padding: 0 20px 0;
                    border-left: 0;
                }
            }
            &:last-child {
                @media (max-width: 360px) {
                    padding: 6px 20px;
                    margin: 20px 0 0;
                    border-bottom: 1px solid darken(@color-swatch1,10%);
                    border-top: 1px solid darken(@color-swatch1,10%);
                }
            }
        }
        tr:last-child td:last-child {
            @media (max-width: 360px) {
                border-top: 0;
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
    // Continue to Payment Button
    .basket-summary-submit {
        margin-bottom: 30px;
        &:disabled {
            opacity: 0.2;
            &:hover {
                background-color: @color-swatch1;
            }
        }
    }
    // 
    .js-shipping-opts {
        border-bottom: 1px solid darken(@color-swatch1,10%);
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 20px;
        label {
            margin-bottom: 10px;
        }
    }
}

.widget.ecombasketsummary .btn.basket-summary-submit {
    border-radius: 5px;
    box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
    padding: 10px 15px;
    text-decoration: none;
    margin-bottom: 10px;
    &:hover {
        background-color: @font-swatch7-background-color-hover;
    }
}

/* 10. Forms & Buttons */

.btn {
    border-radius: 5px;
    box-shadow: 0px 2px 0px darken(@color-swatch3,10%);
    padding: 3px 14px;
}


.widget.button {
    button.btn {
        padding: 10px;
        &:hover {
            background-color: @font-swatch7-background-color-hover;
        }
    }
}

.widget.button button .widget.dropbox button {
	border-radius: 0;
}

input, textarea {
	background-color: rgba(0,0,0, 0.02);
    border: 1px solid fade(@color-swatch5, 25%);
    border-radius: 6px;
	&:hover {
		.transition( border, 0.5s, ease);
	}
}

.contactform label {
	padding-top: 10px;
}

.widget {
    &.contactform {
        input, textarea {
           
            &.email {
                @media @mobile {
                    width: 70%;
                }
            }
        }
    }
    &.signupform fieldset, &.profile form fieldset {
        button {
            height: 43px;
            width: 65px;
            position: relative;
        }
        input {
            background-color: rgba(0,0,0, 0.02);
            border: 1px solid fade(@color-swatch5, 25%);
            border-radius: 6px;
            width: 50%;
            margin-right: 5px;
            height: 45px;
            margin-bottom: 5px;
            @media @tablet {
                width: 65%;
            }
            @media @mobile {
                width: 70%;
            }
        }
    }
    &.blogsearch {
        margin: 10px 0;
        input {
            border: 1px solid fade(@color-swatch5, 25%);
            height: 45px;
            @media @mobile {
                width: 100%;
            }
        }
        button {
            background-color: @font-swatch7-background-color;
            border: 0;
            font-family: @font-swatch7-font-family;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            color: @font-swatch7-color;
            letter-spacing: inherit;
            padding: 5px 10px;
            margin: 1em 0;
            text-decoration: none;
            height: 45px;
            position: relative;
        }
    }
}

/* 11. Misc Elements */

h5 {
	font-family: @font-swatch5-font-family;
	font-size: @font-swatch5-font-size;
	font-weight: @font-swatch5-font-weight;
	line-height: @font-swatch5-line-height;
}

hr.line {
	background-color: lighten(@color-swatch5, 75%)
}

.widget.responsiveslideshow {
	.btn-play, &:hover span.btn-play, 
	.title, .description {
		display: none;
	}
	// Main
	.slideshow-widget {
		// Buttons
		.btns-move {
			.btn-prev {
				left: 0;
				height: 40px;
				width: 40px;
				background: image('/images/arrow-prev.png') @color-swatch1 center no-repeat;
				color: transparent;
				&:hover {
					background: image('/images/arrow-prev-hov.png') @color-swatch2 center no-repeat;
				}
			}
			.btn-next {
				right: 0;
				height: 40px;
				width: 40px;
				background: image('/images/arrow-next.png') @color-swatch1 center no-repeat;
				color: transparent;
				&:hover {
					background: image('/images/arrow-next-hov.png') @color-swatch2 center no-repeat;
				}
			}
			@media @mobile {
				.btn-next,
				.btn-prev {
					width: 26px;
					height: 26px;
					background-size: 12px;
					&:hover {
						background-size: 12px;
					}
				}
			}
		}
	}
	.slideshow-widget-controls {
		margin-top: 0;
		.dot {
			width: 12px;
			height: 12px;
			background-color: transparent;
			border: 1px solid darken(@color-swatch1,10%);
			&.selected {
				background-color: transparent;
				border: 1px solid @color-swatch2;
			} 
			&:hover {
				background-color: @color-swatch2;
				border: 1px solid @color-swatch2;
				cursor: pointer;
			}
		}
	}
}

// Responsive
.widget.responsiveslideshow .slideshow-image-list,
.widget.responsiveslideshow .slideshow-widget {
	@media @mobile {
		height: 230px;
		min-height: 250px;
	}
}

.widget.twitter {
    display: inline-block;
    padding: 30px;
    margin: 20px 0;
    background-color: lighten(@color-swatch7, 30%);
    border: 1px solid darken(@color-swatch7, 5%);
    @media @tablet {
        display: block;
    }
    .twitter-profile-pic {
        @media @mobile {
            display: none;
        }
    }
}

.widget.paypalbuynow .widget.button.paypal {
    border-radius: 6px;
}

.blog-search-submit-button {
    border-radius: 6px;
}

.widget.tweet a {
    border-radius: 6px;
}

.widget.twitter span, .widget.twitter time {
  font-family: @font-swatch4-font-family;
  font-weight: @font-swatch5-font-weight;
  color: @color-swatch5;
  font-size: 12px;
  
  text-decoration: none;
}

.widget.twitter a {
   color: @color-swatch3;
}

.widget.twitter a:hover {
    color: #fff;
    text-decoration: none;
}

.widget.twitter ul {
    padding: 0px;
    margin: 0;
}

.widget.twitter ul li {
    border-bottom: none;
    list-style: none;
    font-family: @font-swatch5-font-family;
    color: @color-swatch3;
    padding-bottom: 30px;
}

.widget.twitter ul li:last-child {
    padding-bottom: 0px;
}

.widget.twitter ul li span a {
    font-size: 12px;
    text-decoration: none;
}

.widget.twitter .twitter-content p {
  font-size: 16px;
  line-height: 30px;
  // color: #ddd;
}

.widget.twitter .twitter-content span.bk-full-name {
  font-family: @font-swatch4-font-family;
  font-size: @font-swatch5-font-size;
  color: @color-swatch3;
  padding-bottom: 4px;
  
  letter-spacing: 0.05em;
}

.widget.socialicons, .widget.profile .bk-profile-socialicons,
.bk-profile-socialicons {
	margin: 1em 0 1em;
	text-align: center;
    span a {
    	margin-right: 4px;
		background-color: darken(@color-swatch1,5%);
		background-size: 20px;
		border-radius: 30px;
		padding: 18px;

		&:hover{
			background-color: darken(@color-swatch1,10%);
		}
	}
}

.svg {
	.bk-socialicons-linkedin {
		a {
			background-image: image('/images/social/socialicons-linkedin.svg');
			&:hover {
				background-image: image('/images/social/socialicons-linkedin.svg');
			}
		}
	}
	.bk-socialicons-twitter {
		a {
			background-image: image('/images/social/socialicons-twitter.svg');
			&:hover {
				background-image: image('/images/social/socialicons-twitter.svg');
			}
		}
	}
	.bk-socialicons-facebook {
		a {
			background-image: image('/images/social/socialicons-facebook.svg');
			&:hover {
				background-image: image('/images/social/socialicons-facebook.svg');
			}
		}
	}
	.bk-socialicons-rss {
		a {
			background-image: image('/images/social/socialicons-rss.svg');
			&:hover {
				background-image: image('/images/social/socialicons-rss.svg');
			}
		}
	}
	.bk-socialicons-googleplus {
		a {
			background-image: image('/images/social/socialicons-googleplus.svg');
			&:hover {
				background-image: image('/images/social/socialicons-googleplus.svg');
			}
		}
	}
	.bk-socialicons-youtube {
		a {
			background-image: image('/images/social/socialicons-youtube-hover.svg');
			&:hover {
				background-image: image('/images/social/socialicons-youtube-hover.svg');
			}
		}
	}
}

/* Gallery */


.widget.gallery {
    margin: 20px 0 20px -0.5%;
    ul li {
        @media @tablet {
            width: 50%;
            padding-bottom: 50%;
        }
        @media @mobile {
            width: 100%;
            padding-bottom: 100%;
        }
        span.inner {
            .title,
            .description {
                // Font
                color: @color-swatch1;
                font-family: @font-swatch4-font-family;
                letter-spacing: @font-swatch4-letter-spacing;
                text-align: left;
            }
            .title {
                font-size: 19px;
                font-weight: 600;
                line-height: 26px;
            }
            .description {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    // Image Data
    .image-data {
        display: block;
        opacity: 0;
        background-color: @color-swatch3;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        &:hover {
            opacity: 1;
        }
    }
}

/* Lightbox */

.lb-data .lb-caption, .lb-data .lb-number {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:lighten(@font-swatch5-color,50%);
}

.lb-data .lb-number {
  font-size:bkscale(@font-swatch5-font-size,0.9);
}

/* Scrollbars */

body, html {
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	width: 0px!important;
}
